.GenreLink {
    list-style: none;
}

.BottomLink {
    list-style: none;

}

.BottomLinkAnchor {
    color: currentColor;
    font-size: 20px;
}

.Details {
    display: flex;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
}

.DetailsInfo {
    padding-left: 20px;
}

.DetailsInfo ul {
    padding-left: 0;
}